<div class="es-sidebar__root" [ngStyle]="{ cursor: isOpen && (isMouseMove$ | async) ? 'col-resize' : 'default' }">
  <div
    class="es-sidebar__handler"
    (touchstart)="_onTouchStart($event)"
    (mousedown)="_onMouseDown($event)"
    [ngClass]="{
      'es-sidebar__handler_open': isOpen,
      'es-sidebar__handler_mouse-down': isMouseDown$ | async
    }">
    <div class="es-sidebar__handler__line"></div>
  </div>
  <aside
    #content
    class="es-sidebar__content"
    [ngStyle]="{
      'max-width': maxWidth + 'px',
      width: isOpen ? width + 'px' : '',
      'min-width': (isMouseMove$ | async) ? minWidth + 'px' : ''
    }"
    [ngClass]="{
      'es-sidebar__content_mouse-move': isMouseMove$ | async,
      'es-sidebar__content_primary': color === 'primary',
      'es-sidebar__content_secondary': color === 'secondary'
    }">
    <ng-content></ng-content>
  </aside>
</div>
