<ng-container *ngIf="locale$ | async as locale">
  <button
    mat-icon-button
    class="es-audio-player-volume__button"
    disableRipple="true"
    esTooltip
    [esTooltipContent]="content"
    esTooltipArrow
    esTooltipInteractive
    [esTooltipDisableCloseClickListener]="true"
    [attr.aria-label]="this.isMute ? locale.audioPlayer.labelUnmute : locale.audioPlayer.labelMute"
    (click)="onMute()">
    <mat-icon
      svgIcon="es-audio-player:{{ this.volume ? (this.volume > 50 ? 'sound-loud' : 'sound-quiet') : 'sound-mute' }}"></mat-icon>
  </button>

  <ng-template #content>
    <div class="es-audio-player-volume__container">
      <mat-slider class="es-audio-player-volume__slider" min="0" step="1" max="100">
        <input
          #sliderVolume
          [value]="volume"
          (valueChange)="onVolumeChanged($event)"
          (input)="onVolumeSliderMove($event)"
          matSliderThumb />
      </mat-slider>
      <label class="es-caption">{{ sliderVolume.value }}</label>
    </div>
  </ng-template>
</ng-container>
