.es-audio-player-volume {
  &__button {
    &.mat-icon-button {
      width: 24px;
      height: 24px;
    }

    .mat-button-wrapper {
      display: flex;
      justify-content: center;
    }
  }

  &__container {
    max-width: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__slider {
    &.mat-slider {
      width: 24px;
      padding: 0;

      &:not(.mat-slider-disabled).cdk-mouse-focused .mat-slider-thumb,
      &:not(.mat-slider-disabled).cdk-touch-focused .mat-slider-thumb,
      &:not(.mat-slider-disabled).cdk-program-focused .mat-slider-thumb,
      .cdk-mouse-focused .mat-slider-thumb,
      .mat-slider-thumb {
        border: 0;
        width: 18px;
        height: 18px;
        right: -10px;
        transform: scale(0.7);
      }

      .mat-slider-focus-ring {
        bottom: -10px;
        width: 18px;
        height: 18px;
        left: -8px;
      }

      &.mat-slider-vertical {
        .mat-slider-wrapper {
          left: 10px;
        }

        .mat-slider-track-fill,
        .mat-slider-track-wrapper,
        .mat-slider-track-background {
          width: 4px;
        }
      }

      .mat-slider-track-fill,
      .mat-slider-track-wrapper,
      .mat-slider-track-background {
        border-radius: 16px;
      }
    }
  }
}
