@mixin es-audio-player-volume-theme($theme, $elonkit-theme) {
  $mono-a: map-get($elonkit-theme, mono-a);
  $mono-b: map-get($elonkit-theme, mono-b);

  .es-audio-player-volume {
    background-color: mat.get-color-from-palette($mono-a, A75);

    &__button {
      color: mat.get-color-from-palette($mono-a, A600) !important;
    }

    &__slider {
      .mdc-slider {
        &__track {
          &--inactive {
            background-color: mat.get-color-from-palette($mono-b, 500) !important;
          }

          &--active {
            &_fill {
              border-color: mat.get-color-from-palette($mono-b, 500) !important;
            }
          }
        }

        &__thumb {
          &-knob {
            border-color: mat.get-color-from-palette($mono-b, 500) !important;
          }

          .mat-ripple {
            &-element {
              background-color: mat.get-color-from-palette($mono-b, A200) !important;
            }
          }
        }
      }
    }
  }
}
