@use '@angular/material' as mat;

$es-dark-primary: mat.define-palette(
  (
    50: #44447d,
    100: #605caa,
    200: #7b73d7,
    300: #9a8cff,
    400: #a89eff,
    500: #b5afff,
    600: #c3c1ff,
    700: #d3d3ff,
    800: #e5e6ff,
    900: #f5f6ff,
    A25: #9a8cff05,
    A50: #9a8cff0a,
    A75: #9a8cff0f,
    A100: #9a8cff14,
    A150: #9a8cff1a,
    A200: #9a8cff1f,
    A300: #9a8cff29,
    A400: #9a8cff3d,
    A500: #9a8cff57,
    A550: #9a8cff70,
    A600: #9a8cff8a,
    A700: #9a8cff99,
    A800: #9a8cffb8,
    A900: #9a8cffe0,
    contrast: (
      50: #fff,
      100: #fff,
      200: #fff,
      300: #000,
      400: #000,
      500: #000,
      600: #000,
      700: #000,
      800: #000,
      900: #000,
      A25: #fff,
      A50: #fff,
      A75: #fff,
      A100: #fff,
      A150: #fff,
      A200: #fff,
      A300: #fff,
      A400: #fff,
      A500: #fff,
      A550: #fff,
      A600: #fff,
      A700: #fff,
      A800: #fff,
      A900: #fff
    )
  )
);

$es-dark-accent: mat.define-palette(
  (
    50: #a16600,
    100: #c4810e,
    200: #e3a136,
    300: #ffc45a,
    400: #ffd17d,
    500: #fcd79a,
    600: #fadcaf,
    700: #fce4c0,
    800: #ffefd6,
    900: #fff6eb,
    A25: #ffc45a05,
    A50: #ffc45a0a,
    A75: #ffc45a0f,
    A100: #ffc45a14,
    A150: #ffc45a1a,
    A200: #ffc45a1f,
    A300: #ffc45a29,
    A400: #ffc45a3d,
    A500: #ffc45a57,
    A550: #ffc45a70,
    A600: #ffc45a8a,
    A700: #ffc45a99,
    A800: #ffc45ab8,
    A900: #ffc45ae0,
    contrast: (
      50: #fff,
      100: #fff,
      200: #fff,
      300: #fff,
      400: #fff,
      500: #000,
      600: #000,
      700: #000,
      800: #000,
      900: #000,
      A25: #fff,
      A50: #fff,
      A75: #fff,
      A100: #fff,
      A150: #fff,
      A200: #fff,
      A300: #fff,
      A400: #fff,
      A500: #fff,
      A550: #fff,
      A600: #fff,
      A700: #fff,
      A800: #fff,
      A900: #fff
    )
  )
);

$es-dark-warn: mat.define-palette(
  (
    50: #941e1e,
    100: #b82e2b,
    200: #db423b,
    300: #ff594d,
    400: #ff7169,
    500: #ff8a85,
    600: #ffa4a1,
    700: #ffbebd,
    800: #ffd9d9,
    900: #fff5f5,
    A25: #ff594d05,
    A50: #ff594d0a,
    A75: #ff594d0f,
    A100: #ff594d14,
    A150: #ff594d1a,
    A200: #ff594d1f,
    A300: #ff594d29,
    A400: #ff594d3d,
    A500: #ff594d57,
    A550: #ff594d70,
    A600: #ff594d8a,
    A700: #ff594d99,
    A800: #ff594db8,
    A900: #ff594de0,
    contrast: (
      50: #fff,
      100: #fff,
      200: #000,
      300: #000,
      400: #000,
      500: #000,
      600: #000,
      700: #000,
      800: #000,
      900: #000,
      A25: #fff,
      A50: #fff,
      A75: #fff,
      A100: #fff,
      A150: #fff,
      A200: #fff,
      A300: #fff,
      A400: #fff,
      A500: #fff,
      A550: #fff,
      A600: #fff,
      A700: #fff,
      A800: #fff,
      A900: #fff
    )
  ),
  500,
  500,
  500
);

$es-dark-theme: (
  info:
    mat.define-palette(
      (
        50: #216094,
        100: #3179b8,
        200: #4593db,
        300: #5daeff,
        400: #75bfff,
        500: #8cceff,
        600: #a4dbff,
        700: #bbe7ff,
        800: #d3f1ff,
        900: #ebf9ff,
        A25: #5daeff05,
        A50: #5daeff0a,
        A75: #5daeff0f,
        A100: #5daeff14,
        A150: #5daeff1a,
        A200: #5daeff1f,
        A300: #5daeff29,
        A400: #5daeff3d,
        A500: #5daeff57,
        A550: #5daeff70,
        A600: #5daeff8a,
        A700: #5daeff99,
        A800: #5daeffb8,
        A900: #5daeffe0,
        contrast: (
          50: #fff,
          100: #fff,
          200: #fff,
          300: #fff,
          400: #fff,
          500: #000,
          600: #000,
          700: #000,
          800: #000,
          900: #000,
          A25: #fff,
          A50: #fff,
          A75: #fff,
          A100: #fff,
          A150: #fff,
          A200: #fff,
          A300: #fff,
          A400: #fff,
          A500: #fff,
          A550: #fff,
          A600: #fff,
          A700: #fff,
          A800: #fff,
          A900: #fff
        )
      ),
      500,
      500,
      500
    ),
  positive:
    mat.define-palette(
      (
        50: #226b5b,
        100: #318e76,
        200: #3fb28f,
        300: #47d6a3,
        400: #6ee8bb,
        500: #92f6cf,
        600: #b0ffdf,
        700: #c9ffeb,
        800: #ddfff2,
        900: #edfff7,
        A25: #47d6a305,
        A50: #47d6a30a,
        A75: #47d6a30f,
        A100: #47d6a314,
        A150: #47d6a31a,
        A200: #47d6a31f,
        A300: #47d6a329,
        A400: #47d6a33d,
        A500: #47d6a357,
        A550: #47d6a370,
        A600: #47d6a38a,
        A700: #47d6a399,
        A800: #47d6a3b8,
        A900: #47d6a3e0,
        contrast: (
          50 : #fff,
          100: #fff,
          200: #fff,
          300: #fff,
          400: #fff,
          500: #000,
          600: #000,
          700: #000,
          800: #000,
          900: #000,
          A25: #fff,
          A50: #fff,
          A75: #fff,
          A100: #fff,
          A150: #fff,
          A200: #fff,
          A300: #fff,
          A400: #fff,
          A500: #fff,
          A550: #fff,
          A600: #fff,
          A700: #fff,
          A800: #fff,
          A900: #fff
        )
      ),
      500,
      500,
      500
    ),
  attention:
    mat.define-palette(
      (
        50: #8a5731,
        100: #b06f35,
        200: #d68736,
        300: #fca032,
        400: #fdac50,
        500: #fdb96f,
        600: #fec78e,
        700: #fed6ad,
        800: #ffe5cb,
        900: #fff4ea,
        A25: #fca03205,
        A50: #fca0320a,
        A75: #fca0320f,
        A100: #fca03214,
        A150: #fca0321a,
        A200: #fca0321f,
        A300: #fca03229,
        A400: #fca0323d,
        A500: #fca03257,
        A550: #fca03270,
        A600: #fca0328a,
        A700: #fca03299,
        A800: #fca032b8,
        A900: #fca032e0,
        contrast: (
          50 : #fff,
          100: #fff,
          200: #fff,
          300: #fff,
          400: #fff,
          500: #000,
          600: #000,
          700: #000,
          800: #000,
          900: #000,
          A25: #fff,
          A50: #fff,
          A75: #fff,
          A100: #fff,
          A150: #fff,
          A200: #fff,
          A300: #fff,
          A400: #fff,
          A500: #fff,
          A550: #fff,
          A600: #fff,
          A700: #fff,
          A800: #fff,
          A900: #fff
        )
      ),
      500,
      500,
      500
    ),
  mono-a:
    mat.define-palette(
      (
        // 100: #fff,
        500: #fff,
        A25: #ffffff05,
        A50: #ffffff0a,
        A75: #ffffff0f,
        A100: #ffffff14,
        A150: #ffffff1a,
        A200: #ffffff1f,
        A300: #ffffff29,
        A400: #ffffff3d,
        A500: #ffffff57,
        A550: #ffffff70,
        A600: #ffffff8a,
        A700: #ffffff99,
        A800: #ffffffb8,
        A900: #ffffffe0,
        contrast: (
          // 100: #000,
          500: #000,
          A25: #fff,
          A50: #fff,
          A75: #fff,
          A100: #fff,
          A150: #fff,
          A200: #fff,
          A300: #fff,
          A400: #fff,
          A500: #000,
          A550: #000,
          A600: #000,
          A700: #000,
          A800: #000,
          A900: #000
        )
      ),
      500,
      500,
      500
    ),
  mono-b:
    mat.define-palette(
      (
        // 100: #000,
        500: #000,
        A25: #00000005,
        A50: #0000000a,
        A75: #0000000f,
        A100: #00000014,
        A150: #0000001a,
        A200: #0000001f,
        A300: #00000029,
        A400: #0000003d,
        A500: #00000057,
        A550: #00000070,
        A600: #0000008a,
        A700: #00000099,
        A800: #000000b8,
        A900: #000000e0,
        contrast: (
          // 100: #fff,
          500: #fff,
          A25 : #fff,
          A50 : #fff,
          A75 : #fff,
          A100: #fff,
          A150: #fff,
          A200: #fff,
          A300: #fff,
          A400: #fff,
          A500: #fff,
          A550: #fff,
          A600: #fff,
          A700: #fff,
          A800: #fff,
          A900: #fff
        )
      ),
      500,
      500,
      500
    ),
  grayscale:
    mat.define-palette(
      (
        50: #13171d,
        100: #2b313a,
        200: #424954,
        300: #59606d,
        400: #707784,
        500: #888f9c,
        600: #a7aebb,
        700: #c2c9d4,
        800: #dce1e9,
        900: #f5f7fa,
        contrast: (
          50: #fff,
          100: #fff,
          200: #fff,
          300: #fff,
          400: #fff,
          500: #000,
          600: #000,
          700: #000,
          800: #000,
          900: #000
        )
      )
    ),
  surface:
    mat.define-palette(
      (
        background: #1c1c1f,
        background2: #111314,
        50: #1c1c1f,
        100: #27272a,
        200: #2c2c2f,
        300: #2e2e31,
        400: #303033,
        500: #353538,
        600: #37373a,
        700: #3c3c3e,
        800: #3e3e41,
        900: #404043,
        on: #f5f7fa,
        contrast: (
          background: #fff,
          background2: #fff,
          50: #fff,
          100: #fff,
          200: #fff,
          300: #fff,
          400: #fff,
          500: #fff,
          600: #fff,
          700: #fff,
          800: #fff,
          900: #fff,
          on: #000,
        )
      )
    ),
  white:
    mat.define-palette(
      (
        // 100: #fff,
        500: #fff,
        A25: #ffffff05,
        A50: #ffffff0a,
        A75: #ffffff0f,
        A100: #ffffff14,
        A150: #ffffff1a,
        A200: #ffffff1f,
        A300: #ffffff29,
        A400: #ffffff3d,
        A500: #ffffff57,
        A550: #ffffff70,
        A600: #ffffff8a,
        A700: #ffffff99,
        A800: #ffffffb8,
        A900: #ffffffe0,
        contrast: (
          // 100: #000,
          500: #000,
          A25: #fff,
          A50: #fff,
          A75: #fff,
          A100: #fff,
          A150: #fff,
          A200: #fff,
          A300: #fff,
          A400: #fff,
          A500: #000,
          A550: #000,
          A600: #000,
          A700: #000,
          A800: #000,
          A900: #000
        )
      ),
      500,
      500,
      500
    ),
  black:
    mat.define-palette(
      (
        // 100: #000,
        500: #000,
        A25: #00000005,
        A50: #0000000a,
        A75: #0000000f,
        A100: #00000014,
        A150: #0000001a,
        A200: #0000001f,
        A300: #00000029,
        A400: #0000003d,
        A500: #00000057,
        A550: #00000070,
        A600: #0000008a,
        A700: #00000099,
        A800: #000000b8,
        A900: #000000e0,
        contrast: (
          // 100: #fff,
          500: #fff,
          A25 : #fff,
          A50 : #fff,
          A75 : #fff,
          A100: #fff,
          A150: #fff,
          A200: #fff,
          A300: #fff,
          A400: #fff,
          A500: #fff,
          A550: #fff,
          A600: #fff,
          A700: #fff,
          A800: #fff,
          A900: #fff
        )
      ),
      500,
      500,
      500
    ),
  other:
    mat.define-palette(
      (
        100: #000,
        500: #000,
        700: #000,
        background: #1c1c1f,
        background-2: #111314,
        overlay-gallery: #1a1a1af0,
        overlay-modal: #5d5d60a6,
        overlay-filter: #4a4b4e6e,
        link: #62a7ff,
        link-visited: #be95ff,
        switch: #18181a,
        contrast: (
          // 100: #fff,
          // 500: #fff,
          // 700: #fff,
          background: #fff,
          background-2: #fff,
          overlay-gallery: #fff,
          overlay-modal: #fff,
          overlay-filter: #fff,
          link: #fff,
          link-visited: #fff,
          switch: #000
        )
      )
    )
);
