.es-paginator {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  white-space: nowrap;
  gap: 12px;

  &_content-reverse {
    flex-direction: row-reverse;
  }

  &__size {
    display: flex;
    align-items: center;
  }

  &__select {
    display: block;
    margin-left: 4px;

    &.mat-mdc-select {
      width: 38px;

      .mat-mdc-select-trigger {
        height: 32px;
        justify-content: space-around;
        border-radius: 4px;
        transition: all 0.25s;

        .mat-mdc-select-value {
          display: contents;
        }
      }
    }

    .mat-mdc-select-arrow {
    }
  }

  &__pages {
    margin: 0 0 0 16px;
  }

  &__form {
    display: block;
  }

  &__input.mat-mdc-form-field {
    box-sizing: border-box;
    margin-bottom: 0;
    width: 64px;
    height: 32px;
    border-radius: 4px;

    &.mat-form-field-invalid {
      margin-bottom: 0;
    }

    &.mat-form-field-appearance-outline {
      display: block;
    }

    .mdc-text-field--outlined {
      padding: 0;

      .mdc-notched-outline .mdc-notched-outline__leading,
      .mdc-notched-outline .mdc-notched-outline__trailing {
        border: 0;
      }
    }

    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }

    .mat-mdc-text-field-wrapper {
      height: 40px;
    }

    &.mat-form-field-appearance-outline .mat-mdc-text-field-wrapper {
      margin-bottom: 0;
      margin-top: 0;
      padding-bottom: 0;
      height: 30px !important;

      .mat-form-field-outline {
        top: 0;
      }

      .mat-mdc-form-field-infix {
        width: 40px;
        padding: 7px 0;
        border: 0;
        min-height: 30px;
      }

      .mat-mdc-form-field-flex {
        height: 30px;
        padding: 0 10px;
        box-sizing: border-box !important;
      }

      /* stylelint-disable property-no-vendor-prefix, value-no-vendor-prefix */
      input {
        -moz-appearance: textfield;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }
      }

      /* stylelint-enable property-no-vendor-prefix, value-no-vendor-prefix */
    }

    .mat-form-field-subscript-wrapper {
      display: none;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 12px;

    &_content-reverse {
      flex-direction: row-reverse;
    }
  }

  &__items {
    display: flex;
    align-items: center;

    &:last-child {
      margin-right: 24px;
    }
  }

  &__item {
    &,
    &.mdc-icon-button {
      width: auto !important;
      height: 32px !important;
      padding: 5px 0 4px !important;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      font-size: 12px;
      line-height: unset;
      min-width: 32px;

      &_active {
        font-weight: 600;
      }
    }

    &.mdc-icon-button:disabled {
    }

    &_arrow.mat-mdc-icon-button {
      padding: 0;

      &:disabled {
      }
    }

    &_gap {
      padding: 0;

      @media (hover: hover) {
        &:hover {
          background: none !important;
        }
      }
    }
  }
}

.es-paginator__options {
  max-height: initial !important;
  border-radius: 4px !important;

  .es-paginator__option {
    min-height: 40px !important;
  }
}
