<div *ngIf="locale$ | async as locale" class="es-paginator" [ngClass]="{ 'es-paginator_content-reverse': reverse }">
  <div *ngIf="!hidePageSize" class="es-paginator__size" [ngClass]="typography">
    <span>{{ locale.paginator.labelItemsPerPage }}:</span>
    <mat-select
      class="es-paginator__select"
      [panelClass]="'es-paginator__options es-caption'"
      [hideSingleSelectionIndicator]="true"
      [aria-label]="locale.paginator.labelItemsPerPage"
      [ngModel]="pageSize"
      [panelWidth]="null"
      (ngModelChange)="onPageSizeChange($event)">
      <mat-option class="es-paginator__option" *ngFor="let size of pageSizeOptions" [value]="size">
        {{ size }}
      </mat-option>
    </mat-select>

    <span data-testid="es-paginator-pages" class="es-paginator__pages">
      {{ countStart }} &mdash; {{ countEnd }} {{ locale.paginator.labelOf }} {{ count }}
    </span>
  </div>

  <div class="es-paginator__wrapper" [ngClass]="{ 'es-paginator__wrapper_content-reverse': pageInputBefore }">
    <div *ngIf="count" class="es-paginator__items">
      <button
        class="es-paginator__item es-paginator__item_arrow"
        mat-icon-button
        [disabled]="page === 1"
        (click)="onPrevPage()"
        [attr.aria-label]="locale.paginator.labelPrev">
        <mat-icon svgIcon="es-paginator:chevron-left"></mat-icon>
      </button>

      <ng-container *ngFor="let i of pages">
        <button
          *ngIf="i !== null"
          class="es-paginator__item"
          [ngClass]="{ 'es-paginator__item_active': i === page }"
          mat-icon-button
          [disabled]="i === page"
          (click)="onPageClick(i)"
          esTooltip="&#8592; shift &#8594;"
          esTooltipArrow="true">
          {{ i }}
        </button>
        <div *ngIf="i === null" class="es-paginator__item es-paginator__item_gap">
          <mat-icon svgIcon="es-paginator:dots-horizontal"></mat-icon>
        </div>
      </ng-container>

      <button
        class="es-paginator__item es-paginator__item_arrow"
        mat-icon-button
        [disabled]="page === pagesCount || !count"
        (click)="onNextPage()"
        [attr.aria-label]="locale.paginator.labelNext">
        <mat-icon svgIcon="es-paginator:chevron-right"></mat-icon>
      </button>
    </div>

    <form class="es-paginator__form es-caption" novalidate (submit)="onSubmit($event)">
      <mat-form-field class="es-paginator__input" appearance="outline">
        <input
          [attr.aria-label]="locale.paginator.labelGoTo"
          matInput
          [(ngModel)]="pageGoTo"
          name="pageGoTo"
          type="number"
          min="1"
          [max]="pagesCount"
          placeholder="{{ page }} {{ locale.paginator.labelPage }}"
          [disabled]="!count"
          (keypress)="onValidationInput($event)" />
      </mat-form-field>
    </form>
  </div>
</div>
