.es-audio-player {
  height: 40px;
  padding: 0 4px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  border-radius: 40px;

  &__button {
    width: 32px !important;
    height: 32px !important;
    display: flex !important;
    justify-content: center;
    align-items: center;

    .mat-icon {
      overflow: visible;
    }
  }

  &__label {
    letter-spacing: 0.4px;
    position: relative;
    user-select: none;

    &,
    &.dark {
      margin-left: 8px !important;
    }

    &-prefix {
      &::before {
        content: '-';
        left: -6px;
        position: absolute;
      }
    }
  }

  &__time-slider {
    display: flex;
    flex: 1;
    margin-left: 8px;
    position: relative;
  }

  &__volume {
    height: 32px;
    margin-left: 8px;
  }

  &__options {
    height: 32px;
    margin-left: 4px;
  }
}
