@mixin es-made-by-theme($theme, $elonkit-theme) {
  $mono-a: map-get($elonkit-theme, mono-a);

  .made-by {
    color: mat.get-color-from-palette($mono-a, A500);

    &.clickable {
      &:hover,
      &:focus-visible {
        color: mat.get-color-from-palette($mono-a, A400);
      }

      &:active {
        color: mat.get-color-from-palette($mono-a, A500);
      }
    }
  }
}
