@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.es-dialog-root {
  overflow: hidden;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);

  &.fade-out {
    animation-name: fade-out;
  }

  &.fade-in {
    animation-name: fade-in;
  }

  &.hide-back-drop {
    background-color: transparent;
  }
}

.es-dialog-container {
  height: 100%;
  text-align: center;

  &.scroll {
    overflow-y: scroll;
  }

  &.full-screen {
    .es-dialog-content {
      margin: 60px 0 0;
    }
    /* stylelint-disable */
    &:not(.scroll) {
      ::ng-deep .dialog-actions {
        position: absolute;
        right: 0;
      }
    }
    /* stylelint-enable */

    .es-dialog-close__btn {
      left: auto;
      right: 8px;
      bottom: 100%;
      top: auto;
      margin-bottom: 6px;
      background-color: grey;

      &.top {
        bottom: auto;
        top: 0;
        margin-bottom: 0;

        .es-dialog-close__btn-text {
          color: rgba(0, 0, 0, 0.72);
        }
      }

      .es-dialog-close__btn-text {
        position: absolute;
        right: 100%;
        top: 50%;
        margin-right: 8px;
        transform: translateY(-50%);
      }
    }
  }
}

.es-dialog-wrapper {
  width: 100%;
  margin: 0;
  display: inline-flex;
  justify-content: center;
  vertical-align: middle;
  position: relative;
  min-height: 100%;
  overflow: visible;
}

.es-dialog-content {
  width: 100%;
  margin: 16px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  overflow: visible;
  border-radius: 8px;
  box-shadow:
    rgba(0, 0, 0, 0.02) 0 -0.5px 2px 1px,
    rgba(0, 0, 0, 0.02) 0 0 2px,
    rgba(0, 0, 0, 0.03) 0 6px 12px,
    rgba(0, 0, 0, 0.12) 0 24px 48px;
}

.es-dialog-close {
  position: sticky;
  z-index: 100;
  top: 16px;

  &__btn {
    position: absolute;
    left: calc(100% + 16px);
    top: 0;
    border-radius: 4px;
    color: white;
    background-color: rgba(255, 255, 255, 0.12);

    &-text {
      font-size: 12px;
      color: rgba(255, 255, 255, 0.72);
    }
  }
}

.es-dialog-paper {
  text-align: left;
  border-radius: 8px;
  width: 100%;
  /* stylelint-disable */
  &.bottom::ng-deep {
    .dialog-actions {
      border-top: 1px solid #ccc;
    }
  }

  &.top::ng-deep {
    .dialog-title {
      border-bottom: 1px solid #ccc;
      padding-bottom: 24px;
    }
  }
  /* stylelint-enable */
}
