.es-sidenav-item {
  &__wrapper {
    position: relative;
    margin: 0 8px;
  }

  &__button {
    border-radius: 6px;
    border: none;
    width: 100%;
    padding: 8px;
    font-family: inherit;
    cursor: pointer;
    transition: background-color 150ms;

    &:focus-visible {
      outline: none;
    }

    &__container {
      width: fit-content;
      display: flex;
      align-items: center;
    }

    &_disabled {
      opacity: 0.3;
      cursor: default;
    }
  }

  &__tooltip {
    max-width: 288px;
    padding: 0 !important;
    margin-left: 10px !important;
  }
}
