@mixin es-alert-actions-theme($theme, $elonkit-theme) {
  $mono-a: map-get($elonkit-theme, mono-a);

  .es-alert-actions {
    .mdc-button {
      color: mat.get-color-from-palette($mono-a, A700) !important;
    }

    [mat-flat-button] {
      background-color: mat.get-color-from-palette($mono-a, A100) !important;
    }
  }
}
