.es-alert-actions {
  padding: 4px 0;
  display: grid;
  justify-content: flex-start;
  gap: 8px;
  grid-auto-flow: column;
  margin-top: 6px;

  .mdc-button {
    line-height: 32px;
    height: 32px;
    padding: 0 8px;
    text-transform: uppercase;
  }
}
