.es-breadcrumbs {
  display: flex;
  align-items: center;
  overflow: hidden;

  &__link-back-wrapper {
    display: flex;
    align-content: center;
  }

  &__breadcrumb {
    &:last-child {
      margin-right: 0;
      min-width: 0;
    }
  }

  &__separator {
    width: 24px;
    height: 24px;
    margin: 0 -4px;
    display: inline-block;
    fill: currentColor;

    &_single {
      width: 1px;
      display: flex;
      align-items: center;
      margin-left: 8px;
      margin-right: 8px;
    }
  }

  &__width {
    width: auto;
    height: auto;
    left: -1000px;
    position: absolute;
    visibility: hidden;
    white-space: nowrap;
    z-index: -1;
  }
}
