.es-password-form-field {
  .mat-mdc-form-field-infix {
    // min-height: auto;
  }

  .mat-mdc-form-field-icon-suffix {
    padding: 0 7px;
  }

  &__button {
    width: 40px !important;
    height: 40px !important;
    display: flex !important;
    justify-content: center;
    align-items: center;

    .mat-mdc-button-touch-target {
      width: inherit !important;
      height: inherit !important;
    }

    mat-icon {
      overflow: visible !important;
    }
  }
}
