<mat-form-field class="es-password-form-field" appearance="outline">
  <mat-label *ngIf="placeholder">{{ placeholder }}</mat-label>
  <input
    matInput
    #input
    [disabled]="disabled"
    lang="en"
    [type]="visible ? 'text' : 'password'"
    [value]="value"
    [required]="required"
    (input)="onInput($event)" />
  <button
    mat-icon-button
    matSuffix
    class="es-password-form-field__button"
    [disabled]="disabled"
    (click)="visible = !visible"
    [attr.aria-label]="'Hide password'"
    [attr.aria-pressed]="!visible">
    <mat-icon>{{ visible ? 'visibility' : 'visibility_off' }}</mat-icon>
  </button>

  <!-- TODO: каким-то образом прокидывать ошибку и окрашивать рамку. Возмодно, убрать форм филд из компонента -->
</mat-form-field>
