<div class="es-breadcrumbs-breadcrumb" [ngClass]="typography">
  <button
    *ngIf="!last"
    (click)="onAction()"
    [attr.aria-label]="breadcrumb.data.ariaLabel"
    class="es-breadcrumbs-breadcrumb__button"
    mat-ripple>
    <ng-container *ngTemplateOutlet="item"></ng-container>
  </button>
  <span *ngIf="last" class="es-breadcrumbs-breadcrumb__button es-breadcrumbs-breadcrumb__button_last">
    <ng-container *ngTemplateOutlet="item"></ng-container>
  </span>
</div>

<ng-template #item>
  <mat-icon *ngIf="breadcrumb.data.icon" class="es-breadcrumbs-breadcrumb__icon">
    {{ breadcrumb.data.icon }}
  </mat-icon>
  <mat-icon *ngIf="breadcrumb.data.svgIcon" [svgIcon]="breadcrumb.data.svgIcon" class="es-breadcrumbs-breadcrumb__icon">
    {{ breadcrumb.data.svgIcon }}
  </mat-icon>
  <span *ngIf="breadcrumb.data.label" class="es-breadcrumbs-breadcrumb__label">
    {{ breadcrumb.data.label }}
  </span>
</ng-template>
