@mixin es-audio-player-time-slider-theme($theme, $elonkit-theme) {
  $mono-a: map-get($elonkit-theme, mono-a);
  $mono-b: map-get($elonkit-theme, mono-b);
  $primary: map-get($theme, primary);

  .es-audio-player-time-slider {
    &__slider {
      &--paused {
        .mdc-slider {
          &__track {
            &--inactive {
              background-color: mat.get-color-from-palette($mono-a, A500) !important;
            }

            &--active {
              &_fill {
                background-color: mat.get-color-from-palette($mono-a, A100) !important;
                border-color: mat.get-color-from-palette($mono-a, A500) !important;
              }
            }
          }
        }
      }
    }

    &__tooltip {
      background-color: mat.get-color-from-palette($mono-a, A600);
      color: mat.get-color-from-palette($mono-b, 500);

      &::after {
        background: linear-gradient(-45deg, mat.get-color-from-palette($mono-a, A600) 50%, transparent 50%);
      }
    }
  }
}
