.es-breadcrumbs-collapse {
  height: 24px;
  padding: 0;
  display: block;
  background: transparent;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  outline: 0;
  transition: 200ms;

  &:hover,
  &:focus {
    outline: 0;
  }

  &__more {
    width: 24px;
    height: 24px;
    display: inline-block;
  }

  &__menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__button {
      width: 100%;
      height: 32px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      border: none;
      background-color: transparent;
    }
  }
}
