.es-sidebar-item {
  &__root {
    margin: 0 8px;
  }

  &__wrapper {
    position: relative;
  }

  &__button {
    border-radius: 4px;
    border: none;
    width: 100%;
    padding: 8px;
    font-family: inherit;
    transition: background-color 150ms;

    &:focus-visible {
      outline: none;
    }

    &__container {
      display: flex;
      align-items: center;
      width: fit-content;

      &__icon:first-of-type {
        margin-right: 12px;
      }

      &__text {
        white-space: nowrap;
      }
    }
  }

  &__button-secondary-action.mat-mdc-icon-button {
    width: 24px;
    height: 24px;
    padding: 0;

    display: flex;
    align-items: center;
    position: absolute;
    z-index: 5;
    top: 8px;

    .mat-mdc-button-touch-target {
      width: inherit;
      height: inherit;
    }
  }
}
