.es-sidebar-item {
  &__root {
    margin: 0 8px;
  }

  &__wrapper {
    position: relative;
  }

  &__button {
    border-radius: 4px;
    border: none;
    width: 100%;
    padding: 8px;
    font-family: inherit;
    transition: background-color 150ms;

    &:focus-visible {
      outline: none;
    }

    &__container {
      width: fit-content;
      display: flex;
      align-items: center;

      &__icon:first-of-type {
        margin-right: 12px;
      }

      &__text {
        white-space: nowrap;
      }
    }
  }

  &__button-secondary-action.mat-mdc-icon-button {
    width: 24px;
    height: 24px;
    padding: 0;

    display: flex;
    align-items: center;
    position: absolute;
    z-index: 5;
    top: 8px;

    .mat-mdc-button-touch-target {
      width: inherit;
      height: inherit;
    }
  }

  &__collapse {
    &__wrapper {
      display: grid;
      grid-template-rows: 1fr;
      transition: grid-template-rows 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, margin 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      margin-top: 2px;

      &_collapsed {
        grid-template-rows: 0fr;
        margin-top: 0px;
      }

      &__inner {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 2px;
        // margin-top: 2px;
      }
    }
  }
}
