<div class="es-sidebar-item__root">
  <div class="es-sidebar-item__wrapper">
    <button
      mat-ripple
      class="es-sidebar-item__button"
      [ngClass]="{
        'es-sidebar-item__button_primary-color': color === 'primary',
        'es-sidebar-item__button_secondary-color': color === 'secondary'
      }">
      <div class="es-sidebar-item__button__container">
        <mat-icon class="es-sidebar-item__button__icon" [svgIcon]="icon"></mat-icon>
        <span class="es-sidebar-item__button__text">{{ text }}</span>
      </div>
    </button>
    <button
      mat-icon-button
      class="es-sidebar-item__button-secondary-action"
      [ngStyle]="{ 'pointer-events': behaviour === 'hover' ? 'none' : 'all', left: 20 + 'px' }">
      <mat-icon svgIcon="es-24:chevron-right-line-w200"></mat-icon>
    </button>
  </div>
</div>
