.es-empty-state {
  max-width: 600px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__image {
    margin-bottom: 12px;

    &.mat-icon {
      width: 56px;
      height: 56px;
      display: block;
    }
  }

  &__text {
    &__heading {
      margin-bottom: 2px;
      text-align: center;

      &:not(:last-child) {
        margin-bottom: 2px;
      }
    }

    &__subheading {
      text-align: center;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__children {
    padding: 8px 0;
  }

  .mat-stroked-button {
    line-height: 46px;
  }
}
