.es-audio-player-options {
  &__button {
    &.mat-icon-button {
      width: 24px;
      height: 24px;
    }

    .mat-button-wrapper {
      display: flex;
      justify-content: center;
    }
  }

  &__label {
    &_ml-18 {
      margin-left: 18px;
    }
  }

  &__tooltip {
    padding: 0 !important;
  }

  &__menu {
    width: 176px;
    flex-direction: column;
    box-shadow: none;
  }

  &__menu-item {
    height: 44px;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    .mat-button-wrapper {
      width: 100%;
      padding: 0 18px;
    }
  }

  &__item-content {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-weight: 400;

    label {
      cursor: pointer;
    }
  }

  &__label-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 18px;
  }

  &__icon {
    &_ml-auto {
      margin-left: auto;
    }
  }
}
