.es-audio-player-options {
  &__button {
    width: 32px !important;
    height: 32px !important;
    display: flex !important;
    justify-content: center;
    align-items: center;

    .mat-icon {
      overflow: visible;
    }
  }

  &__label {
    &_ml-18 {
      margin-left: 18px;
    }
  }

  &__tooltip {
    padding: 8px 0 !important;
  }

  &__menu {
    width: 176px;
    flex-direction: column;
    box-shadow: none;
  }

  &__menu.main-menu &__menu-item {
    height: 48px;
  }

  &__divider-wrapper {
    padding: 8px 0;
  }

  &__menu-item {
    height: 44px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 0 !important;

    .mdc-button__label {
      width: 100% !important;
    }
  }

  &__item-content {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-weight: 400;

    label {
      cursor: pointer;
    }
  }

  &__label-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 18px;
  }

  &__icon {
    &_ml-auto {
      margin-left: auto;
    }
  }
}
